label {
    color: #090101;
}
.enroll-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-bottom: 1rem;
}

/* Labels */
.form-item label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* Input fields and Textarea */
.form-item input[type="text"],
.form-item textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
}

/* Radio buttons */
.form-input {
    margin-bottom: 0.25rem;
}
.form-input-label {
    display: inline !important;
    margin-left: 0.25rem;
}
.btn {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 1em;
}

.btn-primary {
    background-color: #067ef6;
    color: #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #067ef6;
}
#photo-file-input {
    display:none
}

/* Flexbox layout for overall page */
.flex-container {
    display: flex;
}
