:root {
    --dark1: #090B0D;
    --blue: #1606fb;
    --midgrey: #425059;
    --grey: #6C808C;
    --lightgrey: #d8d8d8;
    --bloodred: #730220;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--lightgrey);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.flex-header-menu,
.flex-footer-menu,
.flex-side-menu {
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    padding: 0px 4px 0px 4px;
}

.flex-footer-menu {
    display: flex;
    /* Activating flexbox */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* Vertically centering items */
    background-color: #131212;
    padding: 20px 0px;
    /* Top and bottom padding */
    position: fixed;
    /* Fixing footer to bottom */
    width: 100%;
    bottom: 0;
    font-size: smaller;

}

.header-links a {

    padding: 0.5em;


}

.flex-footer-menu img {
    width: 15px;
    height: 15px;
}

.flex-header-menu {
    display: none;
}

.flex-aside-menu {
    display: none;
}

/* home for phone */
#header1 {
    display: none;

}

.phone-extra {
    display: flex;
    flex-direction: column;
}

#phone-logo {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#phone-login {
    display: flex;
    flex-direction: row;
    font-size: 30%;
    font-weight: bold;
    justify-content: space-around;
}

.content-description h1 {

    margin-top: 5px;
    font-size: 1.3em;
    /* Adjust the size as needed */
    margin-bottom: 20px;
    /* Space below the h1 */
    color: #1606fb;
}

.section {
    display: flex;

    align-items: center;
    /* Aligns the items to the top */
    gap: 20px;
    /* Provides space between the images container and text container */
    color: #1606fb;

}

.content-description img {

    width: 30px;
    /* Adjust to your desired icon size */
    height: 30px;

}

.content-description a {
    font-size: 2em;
    /* Adjust the size as needed */
    display: flex;
    /* Makes the <em> elements block level for better spacing control */
    margin: 20px 0;
    /* Adds spacing above and below the <em> elements */
    color: #1606fb;

}

.content-description p {
    font-size: 1em;
    margin-bottom: 20px;
    /* Adds spacing between paragraphs */
}

.flex-main-content {
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
    /* Aligns the items to the top */
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;


}

.body-picture img {
    max-width: 80%;
    /* Ensures the images fit within the container */
    display: flex;
    /* Removes any bottom spacing often associated with inline images */
    margin-bottom: 20px;
    margin-left: 50px;
    /* Adds spacing between the two images */

    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

/* activity for phone */
.search-container {
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    width: 100%;
    align-items: center;

    justify-content: center;
    background-color: rgb(222, 236, 227);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.search-input {

    padding: 5px;
    border: 1px solid #ccc;

    border-radius: 5px;
    width: 200px;



}

.date-container {

    display: flex;
    flex-direction: column;
    /* Added to make the content stack vertically */
    align-items: center;

}


.search-icon img {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.search-icon button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


#eventDetails {
    display: flex;
    margin: 5px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 10px;

}

#eventDetails th {
    width: 20px;

}

#search-table {
    display: flex;
    border: 1px solid #ccc;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}



#search-table table td,
table th {


    text-align: center;
    font-size: 10px;


}

#eventDetails td {
    max-width: 80px;
}

table img {
    align-items: center;

    width: 60%;
    height: 60%;
}

/* forum category bar */
.flex-forum {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.forum-category {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* centers items vertically in a row-direction flex container */
    background-color: #f4f4f4;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 20vh;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-width: 130px;

}

.forum-category h1 {
    margin-top: -5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* or 900 for black */

}



.category-item {


    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    padding: 10px 0;

    border-top: 1px solid #ccc;
    font-weight: 600;
}

.category-item a {
    color: #2d6dd6;
    white-space: nowrap;
    text-decoration: none;

}

.category-item a:hover {
    border-bottom: 1px solid var(--blue);
    background-color: #d8d8d8;
}


.category-item img {
    height: 30px;
    width: 30px;
}
/*forum most popular and recent tables */
.forum-body {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-right: 50px;


}
.forum-body table {
    
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;

}


.forum-body table td {
    max-width: 200px;
    font-size: 8px;

}

.forum-body table strong {
    flex-wrap: wrap;
    color: #2d6dd6;
    font-size: 15px;
}

.forum-body a {
    color: #2d6dd6;
    white-space: wrap;
    text-decoration: none;
}

.forum-body a:hover {
    border-bottom: 1px solid var(--blue);
}
.forum-popular {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    

}

.forum-recent {
    justify-content: center;
    flex-wrap: wrap;
}



.col-item a {
    font-family: 'Bree Serif', serif;
    color: #090B0D;
    font-size: 10px;
}

.col-item {
    display: flex;
    flex-direction: row;
}

.col-item img {
    width: 20px;
    height: 20px;
}

.col-item-2 {
    display: flex;
    flex-direction: row;
}

.col-item-2 img {
    width: 15px;
    height: 15px;
}

.comment-font {
    font-size: 19px;
    color: #ff0606;
    text-align: center;
    vertical-align: middle;
}

.comment-font-2 {
    color: #090B0D;
    text-align: center;
    vertical-align: middle;
}

.col-category {
    text-align: center;
    vertical-align: middle;
}

.col-category a {
    font-family: 'Lora', serif;

    color: #090B0D;
}

.col-category a:hover {

    border-bottom: 1px solid var(--dark1);

}



@media only screen and (min-width: 601px) and (max-width: 1194px) {
    .phone-extra {
        display: none;
    }

    #header1 {
        display: contents;
        font-size: 25px;

    }

    .flex-footer-menu {
        display: none;
    }

    .flex-header-menu {
        display: none;
    }

    .flex-container {
        flex: 1;
    }

    .flex-aside-menu {
        border-radius: 30px 30px 30px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* This will push children elements to the far ends */
        background-color: #fff;
        align-items: center;
        padding: 2vh 5vw;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    .flex-main-content {
        display: flex;

    }

    .content-description {
        margin-top: 50px;
        font-size: 0.5em;
        /* Adjust for desired font size */
        margin-right: 100px;

    }

    .section {
        justify-content: baseline;


    }



    .header-name {
        display: flex;
        align-items: center;
        /* This ensures that the image and text are vertically aligned in the center. */
        gap: 1.5em;
        text-shadow: 0.1em 0.1em 0.2em black;

    }

    .header-name img {
        margin-left: -50px;
        width: 50px;
        height: auto;
    }


    .header-name a {
        padding: 0 20px;
        color: var(--blue);
        white-space: nowrap;
        font-size: 30px;
    }

    .header-name a:hover {
        border-bottom: 1px solid var(--blue);
    }

    .header-links a::before {
        content: "|";
        margin: 0 0px;
        padding: 0 5px;
    }


    .header-links {
        display: flex;
        flex-direction: row;
        margin-left: 2.375rem;
        flex-wrap: nowrap;
        justify-self: space-between;

    }

    .header-links a {

        padding: 1em;
        color: var(--dark1);
        white-space: nowrap;
        font-size: 20px;

    }

    .content-description h1 {


        font-size: 1em;
        /* Adjust the size as needed */
        margin-bottom: 20px;
        /* Space below the h1 */
        color: #1606fb;
    }

    .section p {
        font-size: 15px;

    }

    .section a {
        font-size: 20px;
    }

    .flex-main-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* Aligns the items to the top */
        gap: -50px;
        /* Provides space between the images container and text container */
    }

    #phone-logo {
        display: none;
    }

    .body-picture img {
        max-width: 80%;
        /* Ensures the images fit within the container */
        display: block;
        /* Removes any bottom spacing often associated with inline images */
        margin-bottom: 20px;
        /* Adds spacing between the two images */
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0.7;
    }

    /* activity */
    .search-container {
        display: flex;
        flex-direction: column;
        min-height: 15vh;
        width: 100%;
        align-items: center;

        justify-content: center;
        background-color: rgb(222, 236, 227);
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    .search-input {

        padding: 5px;
        border: 1px solid #ccc;

        border-radius: 5px;
        width: 200px;



    }

    .date-container {

        display: flex;
        flex-direction: column;
        /* Added to make the content stack vertically */
        align-items: center;

    }


    .search-icon img {
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .search-icon button {
        cursor: pointer;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    #eventDetails {
        display: flex;
        margin: 20px auto;
        border: 1px solid #ccc;
        background-color: #fff;
        justify-content: center;
        overflow: hidden;
        text-align: center;

    }


    #search-table {
        display: flex;
        margin: 20px auto;
        border: 1px solid #ccc;
        background-color: #fff;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }


    #search-table table td,
    table th {
        width: 150px;
        padding: 10px;
        text-align: center;
    }

    table img {
        align-items: center;

        width: 80px;
        height: 50px
    }

    .section {
        display: flex;
        align-items: center;
        /* Aligns the items to the top */
        gap: 20px;
        /* Provides space between the images container and text container */
        color: #1606fb;

    }

    .content-description img {

        width: 30px;
        /* Adjust to your desired icon size */
        height: 30px;

    }

    .content-description a {
        font-size: 3em;
        /* Adjust the size as needed */
        display: flex;
        /* Makes the <em> elements block level for better spacing control */
        margin: 20px 0;
        /* Adds spacing above and below the <em> elements */
        color: #1606fb;

    }

    .content-description p {
        font-size: 2em;
        margin-bottom: 20px;
        /* Adds spacing between paragraphs */
    }
    /* forum category layout*/
    .flex-forum {
        display: flex;
        flex-direction: row;
        gap: 5px
    }
    
    .forum-category {
    
        width: 15%;
        flex-wrap: nowrap;
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* centers items vertically in a row-direction flex container */
        text-align: center;
        vertical-align: middle;
        background-color: #f8f8f8;
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 5vh;
        box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    
    }
    
    .forum-category h1 {
        margin-top: -5px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        /* or 900 for black */
    
    }
    
    
    
    .category-item {
    
    
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    
        padding: 20px;
        padding: 10px 0;
    
        border-top: 1px solid #ccc;
        font-weight: 600;
    }
    
    .category-item a {
        color: #2d6dd6;
        white-space: nowrap;
        text-decoration: none;
    
    }
    
    .category-item a:hover {
        border-bottom: 1px solid var(--blue);
        background-color: #d8d8d8;
    }
    
    
    .category-item img {
        height: 30px;
        width: 30px;
    }
    /*forum most popular and recent tables */
.forum-body {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-right: 50px;
    


}

.forum-popular {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;

}

.forum-recent {
    justify-content: center;
    
}

.forum-body table {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    

}

.forum-body table th {
    padding-top: 5px;
    padding-bottom: 5px;
    
}


.forum-body table strong {
    color: #2d6dd6;
    font-size: 25px;
}

.forum-body a {
    color: #2d6dd6;
    white-space: wrap;
    text-decoration: none;
}

.forum-body a:hover {
    border-bottom: 1px solid var(--blue);
}

.col-item a {
    font-family: 'Bree Serif', serif;
    color: #090B0D;
    font-size: 20px;
}

.col-item {
    display: flex;
    flex-direction: row;
}

.col-item img {
    width: 20px;
    height: 20px;
}

.col-item-2 {
    display: flex;
    flex-direction: row;
}

.col-item-2 img {
    width: 15px;
    height: 15px;
}

.comment-font {
    font-size: 19px;
    color: #ff0606;
    text-align: center;
    vertical-align: middle;
}

.comment-font-2 {
    color: #090B0D;
    text-align: center;
    vertical-align: middle;
}

.col-category {
    text-align: center;
    vertical-align: middle;
}

.col-category a {
    font-family: 'Lora', serif;

    color: #090B0D;
}

.col-category a:hover {

    border-bottom: 1px solid var(--dark1);

}
    

}

@media only screen and (min-width: 1194px) {
    .phone-extra {
        display: none;
    }

    #header1 {
        display: contents;
        font-size: 35px;
        font-weight: bold;

        text-shadow: 2px 2px 3px #007BFF;

    }

    .flex-aside-menu {
        display: none;
    }

    .flex-footer-menu {
        display: none;
    }

    .flex-container {
        flex: 1;
    }

    .flex-header-menu {
        border-radius: 30px 30px 30px 30px;
        display: flex;
        justify-content: space-between;
        /* This will push children elements to the far ends */
        background-color: #fff;
        align-items: center;
        padding: 2vh 5vw;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    .content-description {

        margin-top: 100px;
        font-size: 0.6em;
        /* Adjust for desired font size */
        margin-right: 200px;

    }

    .flex-main-content {
        display: flex;
    }

    .header-name {
        display: flex;
        align-items: center;
        /* This ensures that the image and text are vertically aligned in the center. */
        gap: 1.5em;
        text-shadow: 0.1em 0.1em 0.2em black;

    }

    .header-name img {
        margin-left: -50px;
        width: 50px;
        height: auto;
    }


    .header-name a {
        padding: 0 20px;
        color: var(--blue);
        white-space: nowrap;
        font-size: 30px;
    }

    .header-name a:hover {
        border-bottom: 1px solid var(--blue);
    }

    .header-links a::before {
        content: "|";
        margin: 0 0px;
        padding: 0 5px;
    }


    .header-links {
        display: flex;
        flex-direction: row;
        margin-left: 9.375rem;
        flex-wrap: nowrap;
        justify-self: space-between;

    }

    .header-links a {

        padding: 1em;
        color: var(--dark1);
        white-space: nowrap;
        font-size: 20px;

    }

    .content-description h1 {

        margin-top: -100px;
        font-size: 4em;
        /* Adjust the size as needed */
        margin-bottom: 20px;
        /* Space below the h1 */
        color: #1606fb;
    }

    .flex-main-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* Aligns the items to the top */
        gap: -50px;
        /* Provides space between the images container and text container */
    }

    #phone-logo {
        display: none;
    }

    .body-picture img {
        max-width: 80%;
        /* Ensures the images fit within the container */
        display: block;
        /* Removes any bottom spacing often associated with inline images */
        margin-bottom: 20px;
        /* Adds spacing between the two images */
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0.7;
    }

    /* activity search bar */
    .search-container {
        display: flex;
        flex-direction: row;
        min-height: 15vh;

        align-items: center;

        justify-content: center;
        background-color: rgb(222, 236, 227);
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    .search-input {

        padding: 10px;
        border: 1px solid #ccc;

        border-radius: 5px;
        margin-right: 50px;

    }

    .date-container {

        display: flex;
        flex-direction: column;
        /* Added to make the content stack vertically */
        align-items: flex-start;

    }

    .date-container img {
        display: flex;
        position: absolute;
        margin-left: 160px;
        margin-top: 25px;
        width: 20px;
        height: 20px;
    }

    .search-icon {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: -50px;
    }

    .search-icon img {
        margin: 10px;
    }

    .search-icon button {
        cursor: pointer;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    #eventDetails {
        display: flex;
        margin: 20px auto;
        border: 1px solid #ccc;
        background-color: #fff;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        font-size: 20px;


    }

    #eventDetails td {
        min-width: 150px;
    }


    #search-table {
        display: flex;
        margin: 20px auto;
        border: 1px solid #ccc;
        background-color: #fff;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }


    #search-table table td,
    table th {
        width: 150px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    table img {
        align-items: center;

        width: 80px;
        height: 50px
    }

    .section {
        display: flex;
        align-items: center;
        /* Aligns the items to the top */
        gap: 20px;
        /* Provides space between the images container and text container */
        color: #1606fb;

    }

    .content-description img {

        width: 30px;
        /* Adjust to your desired icon size */
        height: 30px;

    }

    .content-description a {
        font-size: 3em;
        /* Adjust the size as needed */
        display: flex;
        /* Makes the <em> elements block level for better spacing control */
        margin: 20px 0;
        /* Adds spacing above and below the <em> elements */
        color: #1606fb;

    }

    .content-description p {
        font-size: 2em;
        margin-bottom: 20px;
        /* Adds spacing between paragraphs */
    }
    /* forum category layout*/
    .flex-forum {
        display: flex;
        flex-direction: row;
        gap: 5px
    }
    
    .forum-category {
    
        width: 15%;
        flex-wrap: nowrap;
    
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* centers items vertically in a row-direction flex container */
        text-align: center;
        vertical-align: middle;
        background-color: #f8f8f8;
        margin-left: 50px;
        margin-top: 20px;
        margin-right: 20vh;
        box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    
    }
    
    .forum-category h1 {
        margin-top: -5px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        /* or 900 for black */
    
    }
    
    
    
    .category-item {
    
    
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    
        padding: 20px;
        padding: 10px 0;
    
        border-top: 1px solid #ccc;
        font-weight: 600;
    }
    
    .category-item a {
        color: #2d6dd6;
        white-space: nowrap;
        text-decoration: none;
    
    }
    
    .category-item a:hover {
        border-bottom: 1px solid var(--blue);
        background-color: #d8d8d8;
    }
    
    
    .category-item img {
        height: 30px;
        width: 30px;
    }
    /*forum most popular and recent tables */
.forum-body {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-right: 50px;


}

.forum-popular {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;

}

.forum-recent {
    justify-content: center;
}

.forum-body table {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;

}

.forum-body table th {
    padding-top: 5px;
    padding-bottom: 5px;
}


.forum-body table strong {
    color: #2d6dd6;
}

.forum-body a {
    color: #2d6dd6;
    white-space: nowrap;
    text-decoration: none;
}

.forum-body a:hover {
    border-bottom: 1px solid var(--blue);
}

.col-item a {
    font-family: 'Bree Serif', serif;
    color: #090B0D;
    font-size: 20px;
}

.col-item {
    display: flex;
    flex-direction: row;
}

.col-item img {
    width: 20px;
    height: 20px;
}

.col-item-2 {
    display: flex;
    flex-direction: row;
}

.col-item-2 img {
    width: 15px;
    height: 15px;
}

.comment-font {
    font-size: 19px;
    color: #ff0606;
    text-align: center;
    vertical-align: middle;
}

.comment-font-2 {
    color: #090B0D;
    text-align: center;
    vertical-align: middle;
}

.col-category {
    text-align: center;
    vertical-align: middle;
}

.col-category a {
    font-family: 'Lora', serif;

    color: #090B0D;
}

.col-category a:hover {

    border-bottom: 1px solid var(--dark1);

}
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}




.header-login {
    gap: 10px;
    color: blue;
    /* Font color */
    font-size: 0.8em;
    /* Adjust for desired font size */
    margin-left: 15px;
    /* Space between the individual links */
    display: flex;
    align-items: center;
    /* Vertically align the icon with the text */
    text-decoration: none;
    /* Optional: remove the underline from the link */
}

.header-login img {

    margin-right: 5px;
    /* Space between the icon and the link text */
    width: 15px;
    /* Adjust to your desired icon size */
    height: 15px;

}

.header-links a:hover {
    border-bottom: 2px solid var(--dark1);
}


.flex-main-content p {
    font-weight: bold;
}

.body-picture {
    margin-top: 20px;

}

.content-description a:hover {
    border-bottom: 1px solid var(--blue);
}



/* activities search list */

.pagination {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    /* This is to ensure child elements with border radius stay inside parent */
    margin-left: auto;
}

.pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border-left: 1px solid #ccc;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.pagination a:first-child {
    border-left: none;
}

.pagination .active,
.pagination a:hover {
    background-color: #007BFF;
    /* This is a shade of blue. Adjust color as needed. */
    color: #fff;
}

.pagination .prev,
.pagination .next {
    background-color: #f7f7f7;
}

.pagination .prev:hover,
.pagination .next:hover {
    background-color: #eee;
}

/*forum search bar */
#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: var(--blue);

}

.forum-input {

    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 5px;

}

#searchForm button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

#searchForm img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: -2px;
}

.fitness-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #000000;
    margin: 10px;
}

#calorie-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-weight: bolder;
    vertical-align: middle;

}

#calorie-form input,
select {
    padding: 6px;
}

#calorie-form label {
    padding: 7px;
    font-weight: bold;
}

#calorie-form button {
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;

}

#result {
    text-align: center;
    border: 1px solid #171ae6;
    background-color: #dfdbdb;
    padding: 50px;
    margin-top: 100px;
    width: 300px;
}

/* about layout */
.about-us {
    display: flex;
    flex-direction: column;


}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item h1 {
    font-size: 35px;
    font-weight: bolder;

}

.about-item p {
    font-size: 30px;
    background-color: #d9e2e7;
    max-width: 700px;
    padding: 10px;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;

}

.about-item img {
    width: 40vh;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #425059;
}