:root {
    --dark1: #090B0D;
    --blue: #1606fb;
    --midgrey: #425059;
    --grey: #6C808C;
    --lightgrey: #d8d8d8;
    --bloodred: #730220;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--lightgrey);

    
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}



.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}
.flex-header-menu {
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between; /* This will push children elements to the far ends */
    grid-template-columns: auto 1fr;
    background-color: #fff;
    align-items: center;
    padding: 2vh 5vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

}


.header-name {

    display: flex;
    align-items: center; /* This ensures that the image and text are vertically aligned in the center. */
    gap: 20px; 
    
}
.header-name img {
    margin-left: -50px;
    width: 50px;
    height: auto;
}


.header-name a {
    padding: 0 20px;
    color: var(--blue);
    white-space: nowrap;
    font-size: 30px;
}
.header-name a:hover {
    border-bottom: 1px solid var(--blue);
}

.header-links a::before{
    content: "|";
    margin: 0 0px; 
    padding: 0 5px;
}


.header-links {
    margin-left: 150px;
    display: flex;
    justify-self: space-between;
    
}
.header-links a {
    
    padding: 0 25px;
    color: var(--dark1);
    white-space: nowrap;
    font-size: 20px;
 
    
    
}

.header-login {
    display: flex;
    align-items: center; /* This ensures that the image and text are vertically aligned in the center. */
    gap: 10px; 

    color: blue;  /* Font color */
    font-size: 0.8em;  /* Adjust for desired font size */
    margin-left: 15px;  /* Space between the individual links */
    display: flex;
    align-items: center;  /* Vertically align the icon with the text */
    text-decoration: none; /* Optional: remove the underline from the link */
}

.header-login img {
    
    margin-right: 5px;  /* Space between the icon and the link text */
    width: 15px;  /* Adjust to your desired icon size */
    height: 15px;

}

.header-links a:hover {
    border-bottom: 2px solid var(--dark1);
}

.flex-main-content {
    display: flex;
    align-items: center; /* Aligns the items to the top */
    gap: 2px; /* Provides space between the images container and text container */
}
    
.body-picture {
    margin-top: 50px;
    flex-basis: 60%;
}

.body-picture img {
    max-width: 80%; /* Ensures the images fit within the container */
    display: block;  /* Removes any bottom spacing often associated with inline images */
    margin-bottom: 20px; /* Adds spacing between the two images */
}
.content-description {
    flex-basis: 40%; /* Takes up 60% of the parent container's width. You can adjust as needed */
    font-size: 0.8em;  /* Adjust for desired font size */

}
.section {
    display: flex;
    align-items: center; /* Aligns the items to the top */
    gap: 20px; /* Provides space between the images container and text container */
    color: #1606fb;
    
}
.content-description img {

    width: 30px;  /* Adjust to your desired icon size */
    height: 30px;

}
.content-description h1 {
    margin-top: -100px;
    font-size: 5em; /* Adjust the size as needed */
    margin-bottom: 20px; /* Space below the h1 */
    color: #1606fb;
}
.content-description a {
    font-size: 3em; /* Adjust the size as needed */
    display: block; /* Makes the <em> elements block level for better spacing control */
    margin: 20px 0; /* Adds spacing above and below the <em> elements */
    color: #1606fb;

}
.content-description a:hover {
    border-bottom: 1px solid var(--blue);
}

.content-description p {
    font-size: 1.5em;
    margin-bottom: 20px; /* Adds spacing between paragraphs */
}

/* activities */

.search-container {
    display: flex;
    flex-direction: row;
    min-height: 15vh;
    margin-top: 5px;
    align-items: center;

    justify-content: center;
    background-color: rgb(222, 236, 227);

}

.search-input {

    padding: 10px;
    border: 1px solid #ccc;
 
    border-radius: 5px;
    margin-right: 100px;

}

.date-container {

    display: flex;
    flex-direction: column;  /* Added to make the content stack vertically */
    align-items: flex-start; 

}

.date-container img {
    display: flex;
    position: absolute;
    margin-left: 170px;
    margin-top: 25px;
    width: 20px;
    height:20px;
}
.search-icon {
    margin-top: 20px; 
    margin-left: -50px;
}

.search-icon img{
    margin: 10px;
}

/* activities search list */
.search-list-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);


}

.search-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.search-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
}

.activity-info p {
    margin: 5px 0;
}

.search-table {
    display: flex;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    justify-content: center;
    
}
table {
    width: 1500px;  /* sets the table width to occupy the full width of its parent container */
    height: 500px; /* adjust as needed */
}

.pagination {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;  /* This is to ensure child elements with border radius stay inside parent */
    margin-left: auto;
}

.pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border-left: 1px solid #ccc;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

.pagination a:first-child {
    border-left: none;
}

.pagination .active, 
.pagination a:hover {
    background-color: #007BFF;  /* This is a shade of blue. Adjust color as needed. */
    color: #fff;
}

.pagination .prev, 
.pagination .next {
    background-color: #f7f7f7;
}

.pagination .prev:hover, 
.pagination .next:hover {
    background-color: #eee;
}
